@import "tailwindcss";

@theme {
  --color-mystic-bg: #FCF9F1;
  --color-mystic-sidebar: #F5F1E6;
  --color-mystic-accent: #B8860B;
  --color-mystic-text: #333333;
  --color-duck-bg: #2C7A7B;

  --font-sans: "Inter", system-ui, sans-serif;

  /* Arredondamentos Extremos */
  --radius-xl: 2.5rem;
  --radius-2xl: 3.5rem;
  --radius-3xl: 4rem;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-mystic-text);
  background-color: var(--color-mystic-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  /* Prevent body scroll */
}

/* Esconder scrollbar universalmente, mas permitir rolagem */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: var(--color-mystic-bg);
    color: var(--color-mystic-text);
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
    color: var(--color-mystic-text);
  }
}